<div id="bunch-carousel" class="carousel fade" data-ride="carousel">
	<div class="carousel-inner">
		<div class="active item one"></div>
		<div class="item two"></div>
		<div class="item three"></div>
		<div class="item four"></div>
		<div class="item five"></div>
		<div class="item six"></div>
		<div class="item seven"></div>
		<div class="item eight"></div>
	</div>
</div>

<section class="foreground">
	<div class="sidebar-wrapper">
			<aside class='sidebar'>

				<div id="content-container">
				  <header class='sidebar-header'>
				    <section class='logo-and-text'>
				      <a href="/" class="logo"><%= image_tag 'grapes_white.png', id: 'grapes_logo' %>bunch</a>
				    </section>
				  </header>

				  <article class='sidebar-body'>
				    <%= render partial: 'midpoints/sidebar' %>     
				  </article>

				  <footer class='sidebar-footer'>
				    <%= render partial: 'layouts/footer' %>
				  </footer>
			  </div>
			  
			</aside>
	</div>


	<div>
		<section class='main-area'>

			<header class='bunch-welcome'>
				<h1>bunch</h1>
				<h2>meet up in the middle</h2>
			</header>

		</section>
	</div>
</section>
