<div class="background photo-background">
	<div class="sidebar-wrapper">
			<aside class='sidebar'>

				<div id="content-container">
				  <header class='sidebar-header'>
				    <section class='logo-and-text'>
				      <a href="/" class="logo"><%= image_tag 'grapes_white.png', id: 'grapes_logo' %>bunch</a>
				    </section>
				  </header>

				  <article class='sidebar-body'>
				    <%= render partial: 'midpoints/sidebar' %>     
				  </article>

				  <footer class='sidebar-footer'>
				    <%= render partial: 'layouts/footer' %>
				  </footer>
			  </div>
			  
			</aside>
	</div>

	<div>

		<section class='main-area'>

			<header class='bunch-welcome'>
				<h1>bunch</h1>
				<h2>helping you meet in the middle</h2>
			</header>

		</section>

	</div>

</div>


