<nav>
	<%= link_to midpoint_venues_path(@midpoint, options: "topPicks"), class: "find-venues" do %>
    <i class="fa fa-star"></i>
  <% end %>
  <%= link_to midpoint_venues_path(@midpoint, options: "food"), class: "find-venues" do %>
    <i class="fa fa-cutlery"></i>
  <% end %>
	<%= link_to midpoint_venues_path(@midpoint, options: "coffee"), class: "find-venues" do %>
    <i class="fa fa-coffee"></i>
  <% end %>
  <%= link_to midpoint_venues_path(@midpoint, options: "drinks"), class: "find-venues" do %>
    <i class="fa fa-glass"></i>
  <% end %>

</nav>

<section id="venue-container">
</section>


<script id="venue-template" type="x-tmpl-mustache">
  <article class="venue-card">
    <i class="fa fa-coffee"></i>
    <p>{{ name }}</p>
    <p> {{ starRating }} </p>
    <p>{{ category }}    <var>{{ formattedPriceTier }}<var></p>
    <p> {{ formattedAddress }} </p>
    <a href="{{ detailUrl }}">More details</a>
  </article>

</script>