/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#banana_logo { 
  max-height: 30px;
  max-width: 30px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  font-size: 20px;
}

nav {

  float: left;
  margin-left: 50px;
  margin-top: 10px; 

  a {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

}

header {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

main {
  margin-top: 30px;
}

body {
  text-align: center;
  background-color: black;
  background-image: url(sample_image_bunch.jpg);
  background-size:   cover;                    
  background-repeat: no-repeat;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

.address-form {
  margin: 0 auto;

  input {
    background-color: rgba(255,255,255,0.5);
    width: 200px;
    border: none;
    margin: 5px;
  }

  input:focus {
    background-color: #565a5c;
    color: white;
  }

  input:focus::-webkit-input-placeholder {
      color: white;
  }

}

#new-address-form {
  font-size: 60px;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: white;
  line-height: 0.5;
}

.bunch-submit{
  width: 200px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  color: #fff;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
