/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

a:hover, a:focus {
  text-decoration: none;
  color: #e00007;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 5px;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

h2 {
  margin-top: 5px;
  font-size: 20px;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

header {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

body {
  background-color: black;
  background-image: url(sample_image_bunch.jpg);
  background-size: cover;                    
  background-repeat: no-repeat;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  text-align: center;
}

.main-header {
  height: 50px;
}

#banana_logo {
  max-height: 50px;
  max-width: 50px;
}

.logo {
  padding: 10px; 
  float: left;
  color: white;
  padding-left: 30px;
}

.body-area {
  padding-top: 20%;
  float: right;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: black;
  opacity: 0.8;
  border-right: 1px solid #eee;
}

.address-form {
  margin: 0 auto;

  input {
    background-color: rgba(255,255,255,0.5);
    width: 90%;
    height: 30px;
    font-size: 20px;
    border: none;
    margin: 5px;
    text-align: center;
  }

  input:active, input:focus {
    background-color: #565a5c;
    color: white;
    outline-style: none;
  }

  input:focus::-webkit-input-placeholder {
    color: white;
  }

}

#new-address-form {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: white;
  line-height: 0.5;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

.bunch-submit{
  width: 90%;
  height: 35px;
  font-size: 20px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  color: #fff;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  opacity: 0.9;
}
