/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require inputosaurus
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville");

html, head, body {
  min-height: 100% !important;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  min-height: 700px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  background-color: black;
}

  #tagline {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
  }

  .background {
    width: 100%;
    height: 100%;
  }

  .foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .map-css {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

.main-area {
  min-height: 100%;
  margin-top: 100px;
  float: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  margin-left: 300px;
}


.alert {
  padding: 5px;
}