#bunch-carousel {
  width: 100%;
  height: 100%;
  min-height: 700px;
}

.carousel { 
  position: absolute;
  z-index: -99;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
}

.carousel .one, .two, .three, .four, .five, .six {
    background-image: image-url("carousel_1.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .two {
    background-image: image-url("carousel_2.jpg");
}

.carousel .three {
    background-image: image-url("carousel_3.jpg");
}

.carousel .four {
    background-image: image-url("carousel_4.jpg");
}

.carousel .five {
    background-image: image-url("carousel_5.jpg");
}

.carousel .six {
    background-image: image-url("carousel_6.jpg");
}


.carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}

.carousel.fade
{
  opacity: 1;

  .item
  {
    -moz-transition: opacity ease-in-out 1.5s;
    -o-transition: opacity ease-in-out 1.5s;
    -webkit-transition: opacity ease-in-out 1.5s;
    transition: opacity ease-in-out 1.5s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
    
    &:first-child
    {
      top:auto;
      position: relative;
    }

    &.active
    {
      opacity: 1;
      -moz-transition: opacity ease-in-out 1.5s;
      -o-transition: opacity ease-in-out 1.5s;
      -webkit-transition: opacity ease-in-out 1.5s;
      transition: opacity ease-in-out 1.5s;
      z-index: 2;
    }
  }
}