#main_map {
	height: 100%;
	width: 100%;
}

.map-infowindow {
	color: black;
}

#zoom-button-area {
	position: fixed;
	right: 50px;
	bottom: 30px;
}

.zoom-button {
	background-color: rgb(60, 70, 71);
}

.zoom-button:focus {
	outline: 0;
}

.zoom-button:focus {
  outline: 0;
}

.active-zoom-button:focus {
  background-color: lightgrey;
}