#main_map {
	height: 100%;
	width: 100%;
}

.map-infowindow {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  color: #000000;
  max-width: 150px;
  
}

.gm-style-iw {
	position: absolute;
	left: 3px;
	top: 3px;
	max-width: 300px;
	min-width: 150px;
}

#zoom-button-area {
	position: fixed;
	right: 50px;
	bottom: 30px;
}

.zoom-button {
	background-color: rgb(60, 70, 71);
}

.zoom-button:focus {
	outline: 0;
}

.zoom-button:focus {
  outline: 0;
}

.active-zoom-button:focus {
  background-color: lightgrey;
}