.sidebar-wrapper {
  float: left;
  height: 700px;
  width: 300px;
  padding: 25px;
}

.sidebar {
  float: left;
  height: 590px;
  width: 250px;
  text-align: center;
  padding: 5px;
  background-color: rgba(30,186,214,.5);
}

#content-container {
  height: 580px;
  background-color: black;
  border: 1px solid #FFFFFF;
  opacity: 0.8;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.sidebar-header {    
  flex: 1;
  font-family: 'Libre Baskerville', serif;
  min-height: 75px;
  padding: 15px;
  text-align: left;

  a, a:hover {
    color: #FFF;
    font-size: 36px;
    text-decoration: none;
  }
}

  .logo-and-text {
    opacity: 0.9;
  }

    .logo {
      color: white;
    }

    #grapes_logo {
      margin-right: 10px;
      max-height: 50px;
      max-width: 50px;
    }

.address-form {
  margin: 0 auto;

  input {
    width: 90%;
    margin: 0 auto;
    height: 30px;
    font-size: 20px;
    border: none;
    text-align: center;
  }

  input:active, input:focus {
    background-color: #565a5c;
    color: white;
    outline-style: none;
  }

  input:focus::-webkit-input-placeholder {
    color: white;
  }

}

#js-flash {
  width: 90%;
  margin: 0 auto;
}

#new-address-form {
  font-size: 18px;
  padding: 0px;
  text-decoration: none;
  color: white;
}

.bunch-submit{
  width: 90%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  opacity: 0.9;
}

.sidebar-footer {
  flex: 1;
  font-size: 10px;

  i {

  }
}