// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.find-venues {
  font-size: 24px;
  color: white;
}

.find-venues:hover {
  color: #333333;
}

#venue-container {
  border-top: 1px solid #FFF;
}

#categoryTab {
  margin: 0 auto;
  border-bottom: none;
}

#venue-spinner {
  height: 30px;
  margin-top: 100px;
  margin-bottom: 5px;
}

.venue-card {
  border-style: fixed;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
  text-align: left;
  color: #000000;
  display: none;

  .venue-icon {
    float: left;
  }

  p {
    margin-bottom:0px;
    margin-left: 5px;
  }

  em {
    font-size: 12px;
  }

  a {
    color: #0099dd;
  }

  .venue-icon {
    margin: 7px;
  }

  .venue-link {
    text-align: right;
  }

  .venue-price {
   float: left;
  }

  .venue-links{
   text-align: right;
  }
}

.venue-address, .venue-postcode {
  clear:left;
  text-align: left;
  margin-top: 5px;
  font-size: 11px;
}

.venue-title {
  font-size: 14px
}
