Powered by  <%= image_tag 'Google-Maps-icon.png' %> <%= image_tag 'foursquare-icon.png' %>

<section id="other-cities">
  <p>Other cities: <%= link_to "NYC", 'http://bunch-nyc.herokuapp.com/' %> | <%= link_to "Silicon Valley", 'http://bunch-sf.herokuapp.com/' %></p>
  </section>